  <!-- Should be renamed to PrivateSettings.config. -->
  <appSettings>
    <add key="ExchangeKey" value="Exchange-Rate-Key"/>
    <add key="AssociateKey" value="Amazon-Associate-Key"/>
    <add key="APIKey" value="Amazon-Api-Key"/>
    <add key="SecretKey" value="Amazon-Secret-Key"/>
  </appSettings>

